<style>
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkgrey;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.logo {
  font-size: 24px;
}

.navbar {
  display: flex;
  justify-content: flex-end;
}

.navbar a {
  margin-left: 10px;
}

body {
      background-color: lightblue;
}

.content {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 20px;
}

.left {
  width: 50%;
}

.right {
  width: 50%;
  text-align: right;
}

.button {
    border: 3px solid black;
    margin-top: 100px;
    margin-right: 20px;
    background-color: green;
    font-size: 16px;
    border-radius: 5px;
    }


.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  background-color: darkgrey;
}

.social-links {
  display: flex;
  justify-content: flex-end;
}

.social-links a {
  margin-left: 10px;
}
</style>

